<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block titulo%}{% endblock%}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body class="bg-gray-900">

  <!-- Inicio Header -->
    <header class="bg-gray-900">
        <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
          <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">Bill Control</span>
              <img class="h-8 w-auto" src="/static/portapapeles.png" alt="">
            </a>
          </div>
          <div class="flex lg:hidden">
            <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400">
              <span class="sr-only">Open main menu</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </button>
          </div>
          <div class="hidden lg:flex lg:gap-x-12">
            <a href="/" class="text-sm font-semibold leading-6 text-white">Bill Control</a>
          </div>
          <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <a href="/home" class="text-sm font-semibold leading-6 text-white">Home</a>
          </div>
        </nav>
    </header>
    <!-- Fin Header -->
    
    <!-- Contenido de la página -->
    <div>
      {% block contenido %}


      {% endblock %}
    </div>

    <!-- Inicio Footer -->
    <footer class="bg-gray-900 py-4 fixed bottom-0 w-full">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col items-center">
          <div class="flex justify-center">
              <a href="#" class="text-sm font-semibold leading-6 text-white">Contacto</a>
              <a href="#" class="text-sm font-semibold leading-6 text-white ml-4">Acerca de nosotros</a>
              <a href="#" class="text-sm font-semibold leading-6 text-white ml-4">Términos y condiciones</a>
              <a href="#" class="text-sm font-semibold leading-6 text-white ml-4">Política de privacidad</a>
          </div>
          <div class="mt-4 text-center">
              <p class="text-sm text-white">© 2023 Bill Control. Todos los derechos reservados.</p>
          </div>
      </div>
  </footer>
  
    <!-- Fin Footer -->

</body>
</html>