{% extends 'base.html'%}

{% block titulo %} Home Page {% endblock%}

{% block contenido%}

<div class="bg-gray-900">
    <div class="mx-auto w-auto h-96">
        <div class="bg-gray-900 py-10">
            <div class="px-4 sm:px-6 lg:px-8">
                <div class="sm:flex sm:items-center">
                    <div class="sm:flex-auto">
                        <h1 class="text-base font-semibold leading-6 text-white">Registro de datos personales</h1>
                        <p class="mt-2 text-sm text-gray-300">Esta es una lista de todos los gastos del usuario detallando la fecha, el concepto y el monto.</p>
                    </div>
                </div>
                <div class="mt-8 flow-root">
                    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                            <table class="min-w-full divide-y divide-gray-700">
                                <thead>
                                    <tr>
                                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-0">Fecha</th>
                                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Concepto</th>
                                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Monto</th>
                                    <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                                        <span class="sr-only">Eliminar</span>
                                        <span class="sr-only">Editar</span>
                                    </th>
                                    </tr>
                                </thead>
                                <tbody class="divide-y divide-gray-800">
                                        <tr>
                                            <!--Inicio del CRUD - Read-->
                                            {% for gasto in gastos %}
                                                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-0">{{ gasto.fecha }}</td>
                                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-300">{{ gasto.concepto }}</td>
                                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-300">{{ gasto.monto }}</td>
                                                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">

                                                    <!--Inicio CRUD - Update-->
                                                    <a href="{{ url_for('actualizar', id=gasto.id) }}" class="text-indigo-400 hover:text-indigo-300 pr-4">Editar</a>
                                                    <!--Fin CRUD - Update-->

                                                    <!--Inicio CRUD - Delete-->
                                                    <a href="{{ url_for('eliminar', id=gasto.id) }}" class="text-indigo-400 hover:text-indigo-300">Eliminar</a>
                                                    <!--Fin CRUD - Delete-->
                                                </td>
                                        </tr>
                                        {% endfor %}
                                        <!--Fin del CRUD - Read-->
                                </tbody >
                            </table >

                            <!--Inicio del cuadro de "Total"-->
                            <h2 class="mt-4 mb-20 text-base font-semibold leading-6 text-white">Total: {{ total }}</h2>
                            <!--Fin del cuadro de "Total"-->

                            <h3 class="mt-4 mb-12 text-base font-semibold leading-6 text-white">Complete los datos para ingresar su gasto.</h3>
                            <div class="sm:ml-16 sm:mt-0 sm:flex-none">
                                <!--Inicio del CRUD - Create-->
                                <form action = "{{ url_for('crear') }}", method="post">
                                    <div class="mb-12 flex justify-evenly">
                                        <input class="mr-6 rounded-md text-center" name="fecha" type="text" placeholder="Fecha del gasto">
                                        <input class="rounded-md text-center" name="concepto" type="text" placeholder="Concepto del gasto">
                                        <input class="ml-6 rounded-md text-center" name="monto" type="number" placeholder="Monto del gasto">
                                        <button type="submit" class="block rounded-md bg-indigo-500 px-3 py-2 text-center text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Insertar</button>
                                    </div>
                                </form>
                                <!--Fin del CRUD - Create-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}